.toolbar {
  height: 6.73vh;
  background-color: #F4F5F6;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1vw;
  position: relative;
}

.toolbar > img {
  cursor: pointer;
}

.toolbar-right {
  position: absolute;
  right: 0;
  height: 100%;
  width: 25%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 3.8vw;
  gap: 1vw;
}

.tag-tool {
  width: 1vw !important;
  height: 1vw !important;
}

.recorder-tool {
  width: 1vw !important;
  height: 1vw !important;
}

snippyly-comment-tool, snippyly-tag-tool {
  margin-top: 0.5vh;
}