.toolbar {
  height: 6.73vh;
  background-color: #F4F5F6;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1vw;
  position: relative;
}

.toolbar > img {
  cursor: pointer;
}

.toolbar-right {
  position: absolute;
  right: 0;
  height: 100%;
  width: 25%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 3.8vw;
}