.sidebar {
  display: flex;
  flex-direction: column;
}

.new-slide {
  height: 7.69vh;
  border-top: 1px solid #D4D6DF;
  justify-content: center;
  align-items: center;
  display: flex;
  cursor: pointer;
  color: #777E90;
}

.new-slide > img {
  margin-right: 0.1vw;
}

.slide-previews {
  height: calc(100vh - 23.07vh);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.slide-preview {
  width: 19.6vw;
  height: 17.19vh;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.2vw;
  cursor: pointer;
  position: relative;
}

.slide-preview.active {
  background-color: #625df547;
}

.slide-preview > img {
  width: 14.06vw;
  height: 13.34vh;
}

.thumbnail-text {
  position: absolute;
  color: white;
  margin-left: 2vw;
  font-size: 0.9vw;
}